<h1>Contenido</h1>
<h2>Cantidad promedio de dispositivos por usuarios </h2>
<h2>Cantidad total de  dispositivos activos</h2>
<h2>Cantidad total de dispositivos por region</h2>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dispositivos</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Distribuidores</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Gestionar</a>
        </div>
      </div>
    </div>
  </div>
